@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Imprima&display=swap');

*
{
    margin: 0px;
    padding: 0px;
}
:root
{
    --font_titulos: "Bebas Neue", sans-serif;
    --font_regular_texts: "Imprima", sans-serif;
}
html,body
{
    height: 100vh;
    font-family: var(--font_regular_texts);
}
.layout_header
{
    // width: calc(100% - 164px);
    height: 50px;
    // background-color: green;
    border: 2px solid;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    .logo
    {
        width: 80px;
        height: 100%;
        overflow: hidden;
        // border: 2px solid;
        position: relative;
        
        svg
        {
            position: absolute;
            width: 70%;
            top: -214px;
            left: 0;
        }
    }
    h1
    {
        font-family: var(--font_titulos);
        margin: 0px 16px;
        font-size: 2em;
    }
    .user_header
    {
        gap: 5px;
        margin: 0px 0px 0px auto;
        font-family: var(--font_regular_texts);
        font-size: 1em;
        width: fit-content;
        display: flex;
        a
        {
            color: black;
            text-decoration: none;
        }
        a:hover
        {
            text-decoration: underline;
        }
    }
    .user_header a:visited
    {
        color: black;
    }
    
}
.layout_tela
{
    border: 2px solid;
    overflow: auto;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
}
.layout_footer
{
    // width: calc(100% - 4px);
    height: 50px;
    border: 2px solid;
    display: flex;
    align-items: center;
    h1
    {
        margin: auto;
        display: flex;
        align-items: center;
        transition: 0.2s ease-out;
    }
    h1::before
    {
        content: "\00A9";
        margin: auto;
        vertical-align: auto;
    }
    form
    {
        margin: 0px 10px 0px 0px;
    }
}

.index_pesquisa
{
    justify-content: center;
    text-align: center;
    position: relative;
    input
    {
        border-radius: 50px;
        min-height: 30px;
        padding: 0px 10px;
        font-size: 1em;
        outline: 2px solid;
        width: 80%;
    }
    button
    {
        position: absolute;
        top: 5px;
        right: 11%;
        
    }
}

.form_criar_loja
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 400px;
    height: fit-content;
    margin: auto;
    border: 2px solid;
    padding: 10px;
    font-size: 1.3em;
    gap: 5px;
    font-family: var(--font_regular_texts);
    input
    {
        width: 70%;
        padding: 3px;
    }
    textarea
    {
        padding: 3px;
    }
    .btns-form
    {
        width: 70%;
        // display: flex;
        text-align: center;
        // border: 2px solid;
    }
    .erro_form
    {
        font-size: 10px;
        color: red;
    }
}
.btn-page
{
    background-color: yellow;
    // height: fit-content;
    align-items: center;
    text-align: center;
    margin: auto 0px 0px auto;
    display: flex;
    // justify-content: center;
}
.cards-index
{
    // background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-loja-escolhida
{
    background-color: rgb(216, 216, 216);
    height: 100%;
    display: flex;
    flex-direction: column;
    .header_loja
    {
        display: flex;
        border: 2px solid;
        img
        {
            border-right: 2px solid;
        }
        h1
        {
            margin: auto;
        }
    }
    .main_loja
    {
        display: flex;
        width: 100%;
        height: 100%;
        .categorias_loja
        {
            width: 129.5px;
            height:100%;
            border-right: 2px solid;
            ul
            {
                width: 100%;
                
                a
                {
                    text-decoration: none;
                    li
                    {
                        margin: auto;
                        padding-left:5px ;
                        font-size: 1.2em;
                        border-bottom: 2px solid;
                        color: black;
                        transition: 0.1s ease-out;
                    }
                    li:hover
                    {
                        padding-left: 20px;
                    }
                }
                
            }
            
        }
        .produtos_loja
        {
            // background-color: green;
            width: calc(100% - 149.5px);
            overflow-y: auto;
            padding: 10px;
            .container_product_loja
            {
                width: 140px;
                height: 170px;
                border: 2px solid;
                padding: 3px;
                display: flex;
                flex-direction: column;
                // text-align: center;
                img
                {
                    width: 70%;
                    height: 80px;
                    border: 1px solid;
                    margin: auto;
                    text-align: center;
                }
                h3
                {
                    margin: auto;
                }
            }
        }
    }
    .sair_loja
    {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 70px;
        height: 30px;
        border-radius: 10px 0px 0px 0px;
        border: none;
        border-top: 2px solid;
        border-left: 2px solid;
    }
}

.form_addproduct
{
    padding: 10px;
    border: 2px solid;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    input
    {
        outline: 2px solid;
        padding: 0px 7px;
    }
    .btns
    {
        margin: 3px 0px 0px 0px;
    }
}

.teste_card
{
    flex: 1 1 calc(50% - 16px);
    // background-color: green;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    border: 2px solid;
    gap: 5px;
    margin: 5px;
    .loja_infos_index
    {
        img
        {
            // display: inline;
            width: calc(20% - 10px);
            height: 100px;
            border: 2px solid;
        }
        h1
        {
            // display: inline;
            margin: 0px 0px auto 0px;
            text-align: center;
            // background-color: green;
            width: 80%;
            // margin: auto;
        }
        a
        {
            text-decoration: none;
            color: black;
        }
        a:visited
        {

        }
        ul
        {
            li
            {
                border: 2px solid blue;
                color: blue;
                border-radius: 10px;
                padding: 0px 3px;

                display: inline-block;
                background-color: rgba(0, 255, 255, 0.356);
            }
        }
    }
}

.Register-form
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 300px;
    border: 2px solid;
    margin: auto;
    .btns
    {
        margin: 5px;
    }
    input
    {
        padding: 2px 5px;
    }
}

.vizualizando_lojas
{
    width: 70%;
    margin: 10px;
    tr,th,td
    {
        border: 1px solid;
    }
}
.vizalizando_usuarios
{
    width: 40%;
    margin: 10px;
    tr,th,td
    {
        border: 1px solid;
    }
    td
    {
        padding: 0px 10px;  
    }
}


@media (max-width: 768px) {
    .teste_card {
        flex: 1 1 100%; /* 1 card por linha em telas menores */
    }
}