@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Imprima&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

:root {
  --font_titulos: "Bebas Neue", sans-serif;
  --font_regular_texts: "Imprima", sans-serif;
}

html, body {
  height: 100vh;
  font-family: var(--font_regular_texts);
}

.layout_header {
  height: 50px;
  background-color: black;
  color: white;
  border: 2px solid black;
  display: flex;
  align-items: center;
  padding: 0px 30px;
}
.layout_header .logo {
  width: 80px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.layout_header .logo svg {
  position: absolute;
  width: 70%;
  top: -214px;
  left: 0;
}
.layout_header h1 {
  font-family: var(--font_titulos);
  margin: 0px 16px;
  font-size: 2em;
}
.layout_header .user_header {
  gap: 5px;
  margin: 0px 0px 0px auto;
  font-family: var(--font_regular_texts);
  font-size: 1em;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
}
.layout_header .user_header a {
  color: white;
  text-decoration: none;
}
.layout_header .user_header a:hover {
  text-decoration: underline;
}
.layout_header .user_header a:visited {
  color: white;
}

.layout_tela {
  border: 2px solid;
  overflow: auto;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}

.layout_footer {
  background-color: black;
  color: white;
  height: 50px;
  border: 2px solid black;
  display: flex;
  align-items: center;
}
.layout_footer h1 {
  margin: auto;
  display: flex;
  align-items: center;
  transition: 0.2s ease-out;
}
.layout_footer h1::before {
  content: "©";
  margin: auto;
  vertical-align: auto;
}
.layout_footer form {
  margin: 0px 10px 0px 0px;
}

.index_pesquisa {
  justify-content: center;
  text-align: center;
  position: relative;
}
.index_pesquisa input {
  border-radius: 0px 0px 8px 8px;
  min-height: 30px;
  padding: 10px 10px;
  font-size: 1em;
  outline: 2px solid;
  width: 80%;
}
.index_pesquisa button {
  position: absolute;
  top: 14px;
  right: 11.5%;
}

.form_criar_loja {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  border: 2px solid;
  padding: 10px;
  font-size: 1.3em;
  gap: 5px;
  font-family: var(--font_regular_texts);
}
.form_criar_loja input {
  width: 70%;
  padding: 3px;
}
.form_criar_loja textarea {
  padding: 3px;
}
.form_criar_loja .btns-form {
  width: 70%;
  text-align: center;
}
.form_criar_loja .erro_form {
  font-size: 10px;
  color: red;
}

.btn-page {
  background-color: yellow;
  align-items: center;
  text-align: center;
  margin: auto 0px 0px auto;
  display: flex;
}

.cards-index {
  width: 950px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.teste_card {
  width: 300px;
  min-height: 400px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  gap: 5px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  transition: 0.25s ease;
}
.teste_card img {
  height: 150px;
  border: 2px solid;
  margin: 10px auto;
}
.teste_card .loja_infos_index h1 {
  margin: auto;
  text-align: center;
  width: 100%;
  font-size: 1.7em;
}
.teste_card .loja_infos_index h2 {
  width: 100%;
  display: inline;
  display: flex;
  align-items: center;
  margin: auto 0px 0px 0px;
  padding: 0px 5px;
  position: relative;
  top: 21px;
}
.teste_card .loja_infos_index a {
  text-decoration: none;
  color: black;
}
.teste_card .loja_infos_index ul {
  border-top: 2px solid;
  border-bottom: 2px solid;
  width: 100%;
  padding: 0px 10px;
  overflow-x: auto;
  display: flex;
  gap: 5px;
}
.teste_card .loja_infos_index ul li {
  border-left: 2px solid;
  border-right: 2px solid;
  display: inline-block;
  padding: 0px 3px;
  transition: 0.1s ease-out;
  margin: 0px;
}
.teste_card .loja_infos_index ul li:hover {
  border-left: 2px solid red;
  border-right: 2px solid red;
  color: white;
  padding: 0px 3px;
  display: inline-block;
  background-color: orangered;
}

.teste_card:hover {
  box-shadow: 7px 7px 0px 1px #29C7D9;
}

.container-loja-escolhida {
  background-color: #F6F6F6;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container-loja-escolhida .header_loja {
  display: flex;
  border: 2px solid;
}
.container-loja-escolhida .header_loja img {
  border-right: 2px solid;
}
.container-loja-escolhida .header_loja h1 {
  margin: auto;
}
.container-loja-escolhida .main_loja {
  display: flex;
  width: 100%;
  height: 100%;
}
.container-loja-escolhida .main_loja .categorias_loja {
  width: 129.5px;
  height: 100%;
  border-right: 2px solid;
}
.container-loja-escolhida .main_loja .categorias_loja ul {
  width: 100%;
}
.container-loja-escolhida .main_loja .categorias_loja ul a {
  text-decoration: none;
}
.container-loja-escolhida .main_loja .categorias_loja ul a li {
  margin: auto;
  padding-left: 5px;
  font-size: 1.2em;
  border-bottom: 2px solid;
  color: black;
  transition: 0.1s ease-out;
}
.container-loja-escolhida .main_loja .categorias_loja ul a li:hover {
  padding-left: 20px;
}
.container-loja-escolhida .main_loja .produtos_loja {
  width: calc(100% - 149.5px);
  overflow-y: auto;
  padding: 10px;
}
.container-loja-escolhida .main_loja .produtos_loja .container_product_loja {
  width: 140px;
  height: 170px;
  border: 2px solid;
  padding: 3px;
  display: flex;
  flex-direction: column;
}
.container-loja-escolhida .main_loja .produtos_loja .container_product_loja img {
  width: 70%;
  height: 80px;
  border: 1px solid;
  margin: auto;
  text-align: center;
}
.container-loja-escolhida .main_loja .produtos_loja .container_product_loja h3 {
  margin: auto;
}
.container-loja-escolhida .sair_loja {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70px;
  height: 30px;
  border-radius: 10px 0px 0px 0px;
  border: none;
  border-top: 2px solid;
  border-left: 2px solid;
}

.form_addproduct {
  padding: 10px;
  border: 2px solid;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.form_addproduct input {
  outline: 2px solid;
  padding: 0px 7px;
}
.form_addproduct .btns {
  margin: 3px 0px 0px 0px;
}

.Register-form, .login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 300px;
  border: 2px solid;
  margin: auto;
  font-size: 1.3em;
  background-color: white;
  box-shadow: -7px -7px 0px 2px #29C7D9;
  border-radius: 10px;
}
.Register-form .btns, .login-form .btns {
  margin: 5px;
}
.Register-form input, .login-form input {
  padding: 2px 5px;
  border: 2px solid;
}
.Register-form a:hover, .login-form a:hover {
  text-decoration: underline;
}

.login-form {
  box-shadow: 7px 7px 0px 2px #29C7D9;
}

.vizualizando_lojas {
  width: 70%;
  margin: 10px;
}
.vizualizando_lojas tr, .vizualizando_lojas th, .vizualizando_lojas td {
  border: 1px solid;
}

.vizalizando_usuarios {
  width: 40%;
  margin: 10px;
}
.vizalizando_usuarios tr, .vizalizando_usuarios th, .vizalizando_usuarios td {
  border: 1px solid;
}
.vizalizando_usuarios td {
  padding: 0px 10px;
}

@media (max-width: 768px) {
  .teste_card {
    flex: 1 1 100%; /* 1 card por linha em telas menores */
  }
}/*# sourceMappingURL=styles.css.map */