@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Imprima&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

:root {
  --font_titulos: "Bebas Neue", sans-serif;
  --font_regular_texts: "Imprima", sans-serif;
}

html, body {
  height: 100vh;
  font-family: var(--font_regular_texts);
}

.layout_header {
  height: 50px;
  border: 2px solid;
  display: flex;
  align-items: center;
  padding: 0px 30px;
}
.layout_header .logo {
  width: 80px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.layout_header .logo svg {
  position: absolute;
  width: 70%;
  top: -214px;
  left: 0;
}
.layout_header h1 {
  font-family: var(--font_titulos);
  margin: 0px 16px;
  font-size: 2em;
}
.layout_header .user_header {
  gap: 5px;
  margin: 0px 0px 0px auto;
  font-family: var(--font_regular_texts);
  font-size: 1em;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
}
.layout_header .user_header a {
  color: black;
  text-decoration: none;
}
.layout_header .user_header a:hover {
  text-decoration: underline;
}
.layout_header .user_header a:visited {
  color: black;
}

.layout_tela {
  border: 2px solid;
  overflow: auto;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
}

.layout_footer {
  height: 50px;
  border: 2px solid;
  display: flex;
  align-items: center;
}
.layout_footer h1 {
  margin: auto;
  display: flex;
  align-items: center;
  transition: 0.2s ease-out;
}
.layout_footer h1::before {
  content: "©";
  margin: auto;
  vertical-align: auto;
}
.layout_footer form {
  margin: 0px 10px 0px 0px;
}

.index_pesquisa {
  justify-content: center;
  text-align: center;
  position: relative;
}
.index_pesquisa input {
  border-radius: 50px;
  min-height: 30px;
  padding: 0px 10px;
  font-size: 1em;
  outline: 2px solid;
  width: 80%;
}
.index_pesquisa button {
  position: absolute;
  top: 5px;
  right: 11%;
}

.form_criar_loja {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  border: 2px solid;
  padding: 10px;
  font-size: 1.3em;
  gap: 5px;
  font-family: var(--font_regular_texts);
}
.form_criar_loja input {
  width: 70%;
  padding: 3px;
}
.form_criar_loja textarea {
  padding: 3px;
}
.form_criar_loja .btns-form {
  width: 70%;
  text-align: center;
}
.form_criar_loja .erro_form {
  font-size: 10px;
  color: red;
}

.btn-page {
  background-color: yellow;
  align-items: center;
  text-align: center;
  margin: auto 0px 0px auto;
  display: flex;
}

.cards-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-loja-escolhida {
  background-color: rgb(216, 216, 216);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container-loja-escolhida .header_loja {
  display: flex;
  border: 2px solid;
}
.container-loja-escolhida .header_loja img {
  border-right: 2px solid;
}
.container-loja-escolhida .header_loja h1 {
  margin: auto;
}
.container-loja-escolhida .main_loja {
  display: flex;
  width: 100%;
  height: 100%;
}
.container-loja-escolhida .main_loja .categorias_loja {
  width: 129.5px;
  height: 100%;
  border-right: 2px solid;
}
.container-loja-escolhida .main_loja .categorias_loja ul {
  width: 100%;
}
.container-loja-escolhida .main_loja .categorias_loja ul a {
  text-decoration: none;
}
.container-loja-escolhida .main_loja .categorias_loja ul a li {
  margin: auto;
  padding-left: 5px;
  font-size: 1.2em;
  border-bottom: 2px solid;
  color: black;
  transition: 0.1s ease-out;
}
.container-loja-escolhida .main_loja .categorias_loja ul a li:hover {
  padding-left: 20px;
}
.container-loja-escolhida .main_loja .produtos_loja {
  width: calc(100% - 149.5px);
  overflow-y: auto;
  padding: 10px;
}
.container-loja-escolhida .main_loja .produtos_loja .container_product_loja {
  width: 140px;
  height: 170px;
  border: 2px solid;
  padding: 3px;
  display: flex;
  flex-direction: column;
}
.container-loja-escolhida .main_loja .produtos_loja .container_product_loja img {
  width: 70%;
  height: 80px;
  border: 1px solid;
  margin: auto;
  text-align: center;
}
.container-loja-escolhida .main_loja .produtos_loja .container_product_loja h3 {
  margin: auto;
}
.container-loja-escolhida .sair_loja {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70px;
  height: 30px;
  border-radius: 10px 0px 0px 0px;
  border: none;
  border-top: 2px solid;
  border-left: 2px solid;
}

.form_addproduct {
  padding: 10px;
  border: 2px solid;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.form_addproduct input {
  outline: 2px solid;
  padding: 0px 7px;
}
.form_addproduct .btns {
  margin: 3px 0px 0px 0px;
}

.teste_card {
  flex: 1 1 calc(50% - 16px);
  display: flex;
  flex-wrap: wrap;
  border: 2px solid;
  gap: 5px;
  margin: 5px;
}
.teste_card .loja_infos_index img {
  width: calc(20% - 10px);
  height: 100px;
  border: 2px solid;
}
.teste_card .loja_infos_index h1 {
  margin: 0px 0px auto 0px;
  text-align: center;
  width: 80%;
}
.teste_card .loja_infos_index a {
  text-decoration: none;
  color: black;
}
.teste_card .loja_infos_index ul li {
  border: 2px solid blue;
  color: blue;
  border-radius: 10px;
  padding: 0px 3px;
  display: inline-block;
  background-color: rgba(0, 255, 255, 0.356);
}

.Register-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 300px;
  border: 2px solid;
  margin: auto;
}
.Register-form .btns {
  margin: 5px;
}
.Register-form input {
  padding: 2px 5px;
}

@media (max-width: 768px) {
  .teste_card {
    flex: 1 1 100%; /* 1 card por linha em telas menores */
  }
}/*# sourceMappingURL=styles.css.map */